@charset "utf-8";
/* CSS Document */

.main{
	
	
	width:90%;
	margin:5%;
	text-align:center
}
li
{
	list-style-type:none;
}

p{
	font-size:18px;
}

#display, #display2{
	font-size:36px;
}

body {
  font-family: 'Nunito', sans-serif;
}

input {
  padding: 6px;
  border-radius: 5px;
  color: var(--drkGr);
}

button {
  padding: 5px;
  border-radius: 5px;

  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}
